<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
      

    <link rel="stylesheet" type="text/css" href="/static/css/category.css" >
</head>
<script src = "static/js/category.js"></script>

<div class="item">
        <input type = "button" name = "category" value = "Perfume" onclick="location.href='/perfume';"> </input>
        <img width="100" height="100" src= "static/assets/perfume_alt.png">
        Perfume
 </div>
<div class="item">
        <input type = "checkbox" name = "category" value = "Cologne" href ="/cologne"> </input>
        <img width="100" height="100" src= "static/assets/cologne_alt.png">
       Cologne  </div>

       
            


          <div class="item">
                <input type = "button" name = "category" value = "Unisex" href ="/unisex"> </input>
              <img width="100" height="100" src= "static/assets/unisex_alt.png">
              Unisex
       </div>

        </div>
      </div>
