<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
      body {
        background-image:  url(/static/assets/lp_5.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-color:lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .item {
  align-items: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
  
    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel='stylesheet'>

  </head>
<script src = "/static/js/category.js"></script>

<div class="item">
        <a href='/perfume'> 

        <font style="font-family: 'Montserrat', 'sans-serif';font-weight:bold"  size = 5 color='white' > PERFUME</font> </div>
      </a>


        
 </div>


<div class="item">
        <a href='/cologne'>

        <font style="font-family: 'Montserrat', 'sans-serif';font-weight:bold"   size= 5 color='white' > COLOGNE</font> </div>
      </a>
        
      

       
            


          <div class="item">
            <a href='/unisex'>

              <font style="font-family: 'Montserrat', 'sans-serif';font-weight:bold"   size =5 color='white' > UNISEX</font> </div>
            </a>
            
            
       </div>

        </div>
      </div>

    </html>
